<app-loading-spinner *ngIf='!loaded'></app-loading-spinner>
<div *ngIf='spellList'>
  <p>Count: {{ spellList.count }}</p>
  <div id='search--browse'>
    <div>
      <h2>Find a spell</h2>
      <p>Use the drop down menu below to find a spell. List is alphabetically ordered.</p>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Select a spell</mat-label>
        <select matNativeControl (change)='changeSpellIndex(spellSelect.value)' #spellSelect>
          <option selected='selected' value=''>--Select a spell--</option>
          <option *ngFor='let spell of spellList.results' value='{{ spell.url }}'>
            {{ spell.name }}
          </option>
        </select>
      </mat-form-field>
      <a routerLink='/spells/{{ spellIndex }}'>Click for Spell info</a>
    </div>
  </div>
  <div id='search--spell'>
    <div>
      <h2>Search spell by name</h2>
      <p>
        Enter a keyword below to search for specific spells.
      </p>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Find a spell</mat-label>
        <input matInput placeholder='Spell' type="text" name="" id="search--input-text" (keyup)='searchSpells(searchTerm.value)' #searchTerm>
        <button mat-button *ngIf='searchTerm.value' matSuffix mat-icon-button aria-label='Clear' (click)="searchTerm.value = ''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  Spells:
  <div *ngIf='searchSpellList.results'>
    <p>Results: <strong>{{ searchSpellList.count }} found.</strong></p>
    <!--<cdk-virtual-scroll-viewport *ngIf='searchSpellList' class='spells--viewport' itemSize='20'>
      <ul>
        <ng-container *cdkVirtualFor='let spell of searchSpellList.results'>
          <li>
            <a routerLink='/spells/{{ this.tools.getEntityNumber(spell.url) }}'>{{ spell.name }}</a>
          </li>
        </ng-container>
      </ul>
    </cdk-virtual-scroll-viewport>-->
    <!--Material list-->
    <cdk-virtual-scroll-viewport *ngIf='searchSpellList' class='spells--viewport' itemSize='20'>
      <mat-nav-list>
        <a mat-list-item *cdkVirtualFor='let spell of searchSpellList.results' routerLink='/spells/{{ this.tools.getEntityNumber(spell.url) }}' routerLinkActive='active-list-item'>{{ spell.name }}</a>
      </mat-nav-list>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
<a routerLink=''>Go back to previous page.</a>
