<app-loading-spinner *ngIf='!loaded'></app-loading-spinner>
<div *ngIf='spellList'>
  <p>Count: {{ spellList.count }}</p>
  <div id='search--browse'>
    <div>
      <h2>Find a spell</h2>
      <p>Use the drop down menu below to find a spell. List is alphabetically ordered.</p>
    </div>
    <div>
      <select (change)='changeSpellIndex(spellSelect.value)' #spellSelect>
        <option selected='selected' value=''>--Select a spell--</option>
        <option *ngFor='let spell of spellList.results' value='{{ spell.url }}'>
          {{ spell.name }}
        </option>
      </select>
      <a routerLink='/spells/{{ spellIndex }}'>Click for Spell info</a>
    </div>
  </div>
  <div id='search--spell'>
    <div>
      <h2>Search spell by name</h2>
      <p>
        Enter a keyword below to search for specific spells.
      </p>
    </div>
    <div>
      <input type="text" name="" id="search--input-text" (keyup)='searchSpells(searchTerm.value)' #searchTerm>
    </div>
  </div>
  Spells:
  <div *ngIf='searchSpellList.results'>
    <p>Results: {{ searchSpellList.count }} found.</p>
    <ul>
      <li *ngFor='let spell of searchSpellList.results'>
        <a routerLink='/spells/{{ this.tools.getEntityNumber(spell.url) }}'>{{ spell.name }}</a>
      </li>
    </ul>
  </div>
</div>
<a routerLink=''>Go back to previous page.</a>
