<header>
  <nav class="navbar fixed-top bg-info">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink=''>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="spells">Spells</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="classes">Classes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="conditions">Conditions</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
<footer></footer>
