<nav>
  <div class="container">
    <div class="row">
      <div *ngFor="let item of dashboardNav" class="col-lg-4 d-flex">
        <div class='card bg-light'>
          <div class="card-body d-flex flex-column">
            <h2 class="card-title"><a routerLink='{{ item.route }}'>{{ item.title }}</a></h2>
            <p class="card-text flex-grow-1">{{ item.description }}</p>
            <a routerLink="{{ item.route }}" routerLinkActive="router-link-active" class="card-link">Click here for {{ item.title }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
